footer{
    padding: 20px 15px 10px;
    font-size: 10px;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer section{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 30px;
}

footer ul{
    margin-top: 10px;
    text-align: center;
    color: var(--grisOscuro)
}
footer ul:last-child{
    text-align: left;
}
footer section:last-child{
    text-align: start;
    margin-bottom: 0;
    padding: 0;
}

footer section i{
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

footer section h2{
    color: var(--grisOscuro);
}

footer section p{
    color: var(--grisOscuro);
    font-size: var(--cuerpoDeTexto);
}