main {
    width: 90%;
    margin: 0 auto;

}

main .banner {
    display: none;
}

main section {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
}

main section h2 {
    font-size: var(--titulares);
    color: var(--grisOscuro);
    margin: 0 15px 0 20px;
}

main section article {
    margin: 10px 0;
    background-color: white;
    margin: 10px 0;
    width: 100%;
}

main section article img {
    width: 100%;
}

main section .contenedor.contenedor {
    position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
    flex-grow: 1;
}

.camion {
    display: flex;
    justify-content: flex-end;
    order: 1;
}

main section article p {
    display: flex;
    flex-direction: row;

}

main section article .descuento,
main section article .camion {
    color: var(--verde);
    font-size: var(--descuentoYDescripcion);
}

main section article .descripcion {
    font-size: var(--descuentoYDescripcion);
    color: var(--grisOscuro);
}

main section article .precio {
    font-size: var(--precios);
}

main section article .camion i {
    color: var(--verde);
    padding: 10px;
    border: 1px solid var(--verde);
    border-radius: 50%;
    font-size: var(--cuerpo-de-texto);
}

main section article .contenedor {
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
}

main section article {
    box-shadow: 0px 0px 10px var(--grisOscuro);
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;

}

/* Tablet */
@media (min-width:461px) {
    main {
        width: 100%;
        margin: 0 auto;
    }

    main section {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        width: 100%;
        justify-content: space-between;

    }

    main section article {
        box-shadow: 0px 0px 10px var(--grisOscuro);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0;
        width: 50%;
    }

    main section .contenedor {
        flex-grow: 1;
    }

    main section article h4 {
        display: block;
    }

    main .banner {
        display: inline;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    main .banner img {
        width: 100%;
        /*  box-sizing: border-box; */
        margin: 0;
        padding: 0;
    }

    main section article .contenedor {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        justify-content: space-between
    }

    main section h2 {
        flex-direction: column;
        flex-grow: 1;
    }
}

@media (min-width:769px) {
    main {
        width: 100%;
        margin: 0 auto;
    }

    main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        width: 100%;
        justify-content: space-between
    }

    main section article {
        box-shadow: 0px 0px 10px var(--grisOscuro);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0;
        width: 20%;

    }

    main section .contenedor {
        flex-grow: 1;
    }

    main section article h4 {
        display: block;
    }

    main .banner {
        display: inline;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    main .banner img {
        width: 100%;
        /*  box-sizing: border-box; */
        margin: 0;
        padding: 0;
    }

    main section article .contenedor {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        justify-content: space-between
    }

    main section h2 {
        flex-direction: column;
        flex-grow: 1;
    }
}